[submodule "patient-service"]
	path = patient-service
	url = https://github.com/fitnis/patient-service
[submodule "appointment-service"]
	path = appointment-service
	url = https://github.com/fitnis/appointment-service
[submodule "laboratory-service"]
	path = laboratory-service
	url = https://github.com/fitnis/laboratory-service
[submodule "prescription-service"]
	path = prescription-service
	url = https://github.com/fitnis/prescription-service
[submodule "referral-service"]
	path = referral-service
	url = https://github.com/fitnis/referral-service
